<!-- Container principal del Giro [23] -->
<div class="relative overflow-hidden min-h-screen">
    <!-- Imagen de Fondo con el efecto de máscara [22] -->
    <img src="/images/giro.png" class="mask-fade-bottom" />

    <!-- Landing Information (superpuesta) [24-26] -->
    <div class="absolute inset-0 flex flex-col items-center justify-end z-20">
        <!-- Logo [24] -->
        <figure  class="animate-fade delay-[300ms]">
            <img src="/images/logo-velada-5.png" />
        </figure>

        <!-- Información de Fecha y Lugar [27, 28] -->
        <strong class="font-light text-2xl">26</strong>
        <span class="font-light text-xl">DE JULIO</span>
        
        <!-- Enlace a Twitch [29] -->
        <a href="https://twitch.tv/ibai" target="_blank" rel="noopener noreferrer">
            <strong class="font-light">IBÁÑOS</strong>
        </a>
    </div>
</div>